/* ==================== LANDING PAGE BACKGROUND ==================== */
body {
  min-height: 100vh;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 480px) {
  body {
    background-position: center;
  }
}
